.align-left {
  float: left;

}

.align-right {
  float: right;
}

.align-center {
  text-align: center;
  display:block;
  margin:0 auto;
}

br.clear { clear:both; display:block; height:1px; margin:-1px 0 0 0 }
